<html>
    <head>
        <title>Todo List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script src="/assets/todo-list.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>My To-Do List</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="add new item here..." required />
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% for (var i=0; i < todos.length; i++){ %>
                    <li><%= todos[i].item %></li>
                <% } %>
            </ul>
        </div>
    </body>
</html>